<div class="article-container">
  <div class="row">
    <div class="col">
      <div class="card mt-4 shadow bg-body rounded">
        <div class="card-header text-center">
          By Harsh yadav
        </div>
        <div class="card-body text-center">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= truncate(article.description, length: 50) %></p>
        </div>
        <div class="card-footer text-muted text-center">
          Created
          <%= time_ago_in_words(article.created_at) %>
          ago, updated
          <%= time_ago_in_words(article.updated_at) %>
          ago
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex mt-3 justify-content-center"">
    <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-success" %>
    <%= button_to "Destroy this article",
    article_path(@article),
    class: "btn btn-danger mx-2",
    method: :delete,
    form: {
      data: {
        turbo_confirm: "Are you sure?"
      }
    } %>
    <%= link_to "Back to articles", articles_path, class: "btn btn-success" %>
  </div>
</div>
