<div class="article-container">
  <div class="row">
    <div class="col">
      <div class="card mt-4 shadow bg-body rounded">
        <div class="card-header text-center">
          By <%= article.user.username %>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= truncate(article.description, length: 50) %></p>
        </div>
        <div class="card-footer text-muted text-center">
          Created
          <%= time_ago_in_words(article.created_at) %>
          ago, updated
          <%= time_ago_in_words(article.updated_at) %>
          ago
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex mt-3 justify-content-center"">
    <%= link_to "Back to articles", articles_path, class: "btn btn-success" %>
  </div>
</div>
