<%= form_with(model: article) do |form| %>
  <%= render "shared/errors" %>
  <div class="form-container">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>

    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>

    <div class="d-flex mt-3">
      <%= form.submit class: "btn btn-success" %>
      <%= link_to "Back to articles", articles_path, class: "btn btn-success mx-2" %>
    </div>
  </div>
<% end %>
