<h1 class="page-heading pt-2">Aplha Bloggers</h1>
<div class="d-flex justify-content-center align-items-center py-3">
  <% @users.each do |user| %>
    <div class="card text-center mx-2" style="width: 28rem;">
      <img
        src="https://media.istockphoto.com/id/1433039224/photo/blue-user-3d-icon-person-profile-concept-isolated-on-white-background-with-social-member.jpg?b=1&s=170667a&w=0&k=20&c=X-ZNF80_ASKvWpbOICHC8Pf27CFCRyh7Ce9SDVopjZg="
        class="card-img-top"
        height="400"
        width="300"
        alt="#"
      >
      <div class="card-body">
        <h5 class="card-title"><%= user.username %></h5>
        <p class="card-text"><%= pluralize(user.articles.count, "Article") %>
        </p>
        <%= link_to "View Articles", user_path(user) , class: "btn btn-success" %>
        <% if logged_in? && current_user == user %>
          <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="card-footer text-muted text-center">
        Joined
        <%= time_ago_in_words(user.created_at) %>
        ago
      </div>
    </div>
  <% end %>
  <div class="apple_pagination mb-0">
    <%= will_paginate @users, container: false %>
  </div>
</div>
